<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ea omnis architecto doloremque amet, quidem eaque nulla. Earum facilis, recusandae ex illum reprehenderit quibusdam perspiciatis, accusantium neque cum non repudiandae?</p>
        <p>Atque eum explicabo iste nulla inventore quo, sed voluptatum voluptate corporis laudantium modi ad animi odit nesciunt maxime saepe neque dolorem itaque dolore consequuntur! Harum, atque autem. Voluptatum, aliquam minus?</p>
        <p>Omnis illum asperiores dolorum doloremque ex qui odit neque earum sit quisquam aperiam tempora a voluptate officiis voluptatibus dolorem ipsa iusto at, reprehenderit cum aliquid ipsam officia. Consequuntur, reprehenderit nostrum.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>